[Desktop Entry]
Version=1.0
Terminal=false
Icon=osk
Type=Application
Exec=python3 /usr/share/osk/application.py
Name=osk
GenericName=osk
Name[tr_TR.UTF-8]=klavye
