[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
GenericName[tr]=Web Tarayıcı
Comment=Access the Internet
Comment[tr]=İnternet'e erişin
Exec=/usr/bin/google-chrome-stable %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;
X-XFCE-Source=file:///usr/share/applications/google-chrome.desktop

[Desktop Action new-window]
Name=New Window
Name[tr]=Yeni Pencere
Exec=/usr/bin/google-chrome-stable

[Desktop Action new-private-window]
Name=New Incognito Window
Name[tr]=Yeni Gizli pencere
Exec=/usr/bin/google-chrome-stable --incognito
